log_status "loading repository : ${_github_workspace_loading:-false}"

${_github_workspace_loading:-false} || {
  source_up;
}

env:flox() {
  [[ "$FLOX_ENV_PROJECT" = "$PWD" ]] &&
    return

  log_status "loading hxpr flox environment (JAVA_HOME=${JAVA_HOME})"
  source <( direnv apply_dump <( flox activate -- direnv dump ) )
}

env:flox 
