<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>asdf-vm-tool-versions-installer</key>
    <string>home.darwin.nix.asdf-vm.tool-versions.installer</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/env</string>
      <string>zsh</string>
      <string>-f</string>
      <string>tools-version-install.zsh</string><!-- ${XDG_CONFIG_HOME}/asdf-vm/bin/tools-version-install ? --->
    </array>
    <key>RunAtLoad</key>
    <true />
    <key>StandardErrorPath</key>
    <string>${XDG_VAR_HOME}/asdf-vm-tool-versions-install.log</string>
  </dict>
</plist>
