# Incus instance config for Headscale
name: ${NAME}
architecture: aarch64
config:
  security.nesting: true
devices:
  root:
    path: /
    pool: default
    type: disk
  eth0:
    name: eth0
    nictype: macvlan
    parent: enp0s2
    type: nic
  shared.dir:
    type: disk
    source: ${PWD}/${INSTANCE_DIR}/shared
    path: /.shared.d
  logs.dir:
    type: disk
    source: ${PWD}/${INSTANCE_DIR}/logs
    path: /.logs.d
  user.user-data:
    type: disk
    source: ${PWD}/${CLOUD_CONFIG_MERGED}
    path: /var/lib/cloud/seed/nocloud/user-data
  user.meta-data:
    type: disk
    source: ${PWD}/${CLOUD_CONFIG_META}
    path: /var/lib/cloud/seed/nocloud/meta-data
