source_up

[[ -d "${LIMAHOME:=$HOME/.lima}" ]] &&
  use flox --dir="${LIMAHOME}"

use flox

set -a
CLUSTER_NAME=${LIMA_HOSTNAME:-=bioskop}
case $CLUSTER_NAME in
  bioskop) CLUSTER_SUBNET=1 ;;
  alcide) CLUSTER_SUBNET=2 ;;
  *) CLUSTER_SUBNET=254;;
esac
CLUSTER_SUBNET=${CLUSTER_SUBNET:-1}
TSID=$(cat .secrets.d/tsid)
TSKEY_CLIENT=$(cat .secrets.d/tskey-client)
TSKEY_API=$(cat .secrets.d/tskey-api)
set +a
