network:
  version: 2
  ethernets:
    lan0:
      dhcp4: true
    wan0:
      # Static IP configuration for control nodes 
      # Use environment variables exported by Makefile
      dhcp4: false
      addresses:
        - ${CLUSTER_NODE_INET}/24
      gateway4: ${CLUSTER_INET_GATEWAY}
      nameservers:
        addresses:
          - ${CLUSTER_INET_GATEWAY}
          - 1.1.1.1
  renderer: networkd
